{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<!-- Same menu as on main site because planning on changing the look on the main site -->
<!-- For now just same menu -->
<div class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="container-fluid pt-0">
<div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse pe-2">
        <div class="nav-link">
            <a class="text-decoration-none" href="{% url 'home' %}"><h4 class="my-3">Pavel Kudlanov</h4></a>
            <h5 class="text-muted my-1">Full-Stack</h5>
            <h5 class="text-muted my-1">Software Developer</h5>
        </div>
        <div class="position-sticky pt-3 ps-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'blog:all_posts' %}">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#vector-pen"/>
                        </svg>
                        Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#house-door"/>
                        </svg>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}#portfolio-section">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#layout-text-window-reverse"/>
                        </svg>
                        Projects
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link funny-link" href="{% url 'home' %}#about-section">
                        <svg class="bi feather smile" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#emoji-smile"/>
                        </svg>
                        <svg class="bi feather sunglasses" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#emoji-sunglasses"/>
                        </svg>
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% static 'portfolio/assets/pavelkudlanov-resume.pdf' %}" target="_blank" rel="noreferrer noopener">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#file-person"/>
                        </svg>
                        Resume
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}#contact-section">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#broadcast-pin"/>
                        </svg>
                        Contact
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                Social
            </h6>

            <ul class="nav mb-2">
                <li class="nav-item">
                    <a class="nav-link pe-0" href="https://www.linkedin.com/in/pavelkudlanov/" target="_blank" rel="noreferrer noopener">
                        <svg class="bi feather" width="24" height="24" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#linkedin"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-0" href="https://github.com/pkudlanov" target="_blank" rel="noreferrer noopener">
                        <svg class="bi feather" width="24" height="24" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#github"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-0" href="https://twitter.com/pkudlanov" target="_blank" rel="noreferrer noopener">
                        <svg class="bi feather" width="24" height="24" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#twitter"/>
                        </svg>
                    </a>
                </li>
            </ul>

            <!-- Blog Post Catagories Menu Section For Future-->
            <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                Catagories
            </h6>

            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <svg class="bi feather" width="24" height="24" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#vector-pen"/>
                        </svg>
                        Catogory Ex.
                    </a>
                </li>
            </ul> -->
        </div>
    </nav>

    <main id="blog" class="col-md-9 ms-sm-auto col-lg-10 my-0 py-0">
        {% block blog_content %}{% endblock blog_content %}
    </main>
</div>
</div>
{% endblock content %}
