{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<!-- Same menu as on blog because planning on changing the look on the main site -->
<!-- For now just same menu -->
<div class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="row g-0">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse pe-2">
        <div class="nav-link">
            <a class="text-decoration-none" href="{% url 'home' %}"><h4 class="my-3">Pavel Kudlanov</h4></a>
            <h5 class="text-muted my-1">Full-Stack</h5>
            <h5 class="text-muted my-1">Software Developer</h5>
        </div>
        <div class="position-sticky pt-3 ps-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'blog:all_posts' %}">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#vector-pen"/>
                        </svg>
                        Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#house-door"/>
                        </svg>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#layout-text-window-reverse"/>
                        </svg>
                        Projects
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link funny-link" href="{% url 'home' %}">
                        <svg class="bi feather smile" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#emoji-smile"/>
                        </svg>
                        <svg class="bi feather sunglasses" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#emoji-sunglasses"/>
                        </svg>
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% static 'portfolio/assets/pavelkudlanov-resume.pdf' %}">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#file-person"/>
                        </svg>
                        Resume
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#broadcast-pin"/>
                        </svg>
                        Contact
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                Social
            </h6>

            <ul class="nav mb-2">
                <li class="nav-item">
                    <a class="nav-link pe-0" href="https://www.linkedin.com/in/pavelkudlanov/">
                        <svg class="bi feather" width="24" height="24" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#linkedin"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-0" href="https://github.com/pkudlanov">
                        <svg class="bi feather" width="24" height="24" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#github"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-0" href="https://twitter.com/pkudlanov">
                        <svg class="bi feather" width="24" height="24" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#twitter"/>
                        </svg>
                    </a>
                </li>
            </ul>

            <!-- Blog Post Catagories Menu Section For Future-->
            <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                Catagories
            </h6>

            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <svg class="bi feather" width="24" height="24" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#vector-pen"/>
                        </svg>
                        Catogory Ex.
                    </a>
                </li>
            </ul> -->
        </div>
    </nav>


    <main class="col-md-9 ms-sm-auto col-lg-10 my-0 py-0 position-relative">
        
        <!-- BLOG BANNER -->
        <a href="{% url 'blog:all_posts' %}">
            <div class="blog-banner">
                <h4 class="fs-4 text-light"><b>BL<span class="color-y">O</span>G</b></h4>
            </div>
        </a>
        
        <!-- HOME TOP SECTION -->
        <div id="home-section" class="section position-relative">
            <div class="banner mb-4">
                <div class="overlay position-relative">
                    <div class="profile-pic position-absolute top-100 translate-middle-y ms-5"></div>
                </div>
            </div>

            <div class="text-part row justify-content-center pt-2 mb-3">
                <div class="col-md-9 text-center">
                    <h1 id="hometext" class="font-weight-bold color-o">Greetings</h1>
                    <h1 id="hometext" class="font-weight-bold">I'm <span class="color-g">P</span>avel Ku<span class="color-y">d</span>la<i class="color-g">n</i>ov</h1>
                    <h2>Full-Stack Software Developer</h2>
                    <h4 class="font-weight-bold mt-5 quote"><em>A firm believer in that software does not write itself. Each line of code ultimately has a piece of someone's mind behind it. </em>😄</h4>
                </div>
            </div>

            <h1 class="bounce text-center position-absolute bottom-0 start-0 pb-3 ps-3">
                <svg class="bi color-y" width="28" height="28" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#chevron-double-down"/>
                </svg>
            </h1>
            <h1 class="bounce text-center position-absolute bottom-0 end-0 pb-3 pe-3">
                <svg class="bi color-y" width="28" height="28" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#chevron-double-down"/>
                </svg>
            </h1>

        </div>
    

        <!-- PROJECTS SECTION -->
        <div id="portfolio-section" class="section">
            <section class="text-center container p-3 pt-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1>Web Developer Portfolio</h1>
                    <p class="lead">Just a small collection of various projects I've done.</p>
                </div>
            </section>

            <section class="container text-center p-3">
                <h3>Technologies</h3>
                <div class="d-flex flex-wrap justify-content-center">
                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                        <h6 class="m-1 px-1">Jajascript</h6>
                    </div>
                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                        <h6 class="m-1 px-1">Python</h6>
                    </div>
                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                        <h6 class="m-1 px-1">NodeJS</h6>
                    </div>
                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                        <h6 class="m-1 px-1">MongoDB</h6>
                    </div>
                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                        <h6 class="m-1 px-1">Firebase</h6>
                    </div>
                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                        <h6 class="m-1 px-1">PostgreSQL</h6>
                    </div>
                </div>
            </section>

            <div class="album py-5">
                <div class="container g-5">

                    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3 g-3">

                        {% for project in projects %}
                        
                            {% if project.url %}

                            <a href="{{ project.url }}">
                            <div class="col">
                                <div class="card text-white shadow-sm ratio project-card">
                                    <img src="{{ project.image.url }}" class="card-img project-img" alt="Image of one of Pavels Projects.">
                                    <div class="card-img-overlay project-overlay p-0">
                                        <div class="project-header rounded-top ratio p-0">
                                            <div class="color-dot color-dot-r position-absolute top-50 start-0 translate-middle"></div>
                                            <div class="color-dot color-dot-y position-absolute top-50 start-0 translate-middle"></div>
                                            <div class="color-dot color-dot-g position-absolute top-50 start-0 translate-middle"></div>
                                            <h5 class="text-center text-light m-1">Project Title</h5>
                                        </div>
                                        <div class="project-body position-relative px-4">
                                            <section class="container text-center position-absolute top-50 start-50 translate-middle p-3">
                                                <div class="d-flex flex-wrap justify-content-center">
                                                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                                                        <h6 class="m-1 px-1">Jajascript</h6>
                                                    </div>
                                                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                                                        <h6 class="m-1 px-1">Python</h6>
                                                    </div>
                                                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                                                        <h6 class="m-1 px-1">NodeJS</h6>
                                                    </div>
                                                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                                                        <h6 class="m-1 px-1">MongoDB</h6>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                            </a>

                            {% else %}

                            <div class="col">
                                <div class="card text-white shadow-sm ratio project-card">
                                    <img src="{{ project.image.url }}" class="card-img project-img" alt="Image of one of Pavels Projects.">
                                    <div class="card-img-overlay project-overlay p-0">
                                        <div class="project-header rounded-top ratio p-0">
                                            <div class="color-dot color-dot-r position-absolute top-50 start-0 translate-middle"></div>
                                            <div class="color-dot color-dot-y position-absolute top-50 start-0 translate-middle"></div>
                                            <div class="color-dot color-dot-g position-absolute top-50 start-0 translate-middle"></div>
                                            <h5 class="text-center text-light m-1">Project Title</h5>
                                        </div>
                                        <div class="project-body position-relative px-4">
                                            <section class="container text-center position-absolute top-50 start-50 translate-middle p-3">
                                                <div class="d-flex flex-wrap justify-content-center">
                                                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                                                        <h6 class="m-1 px-1">Jajascript</h6>
                                                    </div>
                                                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                                                        <h6 class="m-1 px-1">Python</h6>
                                                    </div>
                                                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                                                        <h6 class="m-1 px-1">NodeJS</h6>
                                                    </div>
                                                    <div class="tech-card text-light text-center border border-secondary rounded m-1">
                                                        <h6 class="m-1 px-1">MongoDB</h6>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endif %}

                        {% endfor %}
        
                    </div>

                </div>
            </div>
        </div>


        <!-- ABOUT SECTION -->
        <div id="about-section" class="section">

        </div>


        <!-- CONTACT SECTION -->
        <div id="contact-section" class="section">

        </div>

    </main>
</div>
{% endblock content %}
