{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<!-- Same menu as on blog because planning on changing the look on the main site -->
<!-- For now just same menu -->
<div class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


<div class="row m-0">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse pe-2">
        <div class="nav-link">
            <a class="text-decoration-none" href="{% url 'home' %}"><h4 class="my-3">Pavel Kudlanov</h4></a>
            <h5 class="text-muted my-1">Full-Stack</h5>
            <h5 class="text-muted my-1">Software Developer</h5>
        </div>
        <div class="position-sticky pt-3 ps-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:all_posts' %}">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#vector-pen"/>
                        </svg>
                        Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#house-door"/>
                        </svg>
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio-section">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#layout-text-window-reverse"/>
                        </svg>
                        Projects
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link funny-link" href="#about-section">
                        <svg class="bi feather smile" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#emoji-smile"/>
                        </svg>
                        <svg class="bi feather sunglasses" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#emoji-sunglasses"/>
                        </svg>
                        About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% static 'portfolio/assets/pavelkudlanov-resume.pdf' %}">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#file-person"/>
                        </svg>
                        Resume
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact-section">
                        <svg class="bi feather" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#broadcast-pin"/>
                        </svg>
                        Contact
                    </a>
                </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                Social
            </h6>

            <ul class="nav mb-2">
                <li class="nav-item">
                    <a class="nav-link pe-0" href="https://www.linkedin.com/in/pavelkudlanov/">
                        <svg class="bi feather" width="24" height="24" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#linkedin"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-0" href="https://github.com/pkudlanov">
                        <svg class="bi feather" width="24" height="24" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#github"/>
                        </svg>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pe-0" href="https://twitter.com/pkudlanov">
                        <svg class="bi feather" width="24" height="24" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#twitter"/>
                        </svg>
                    </a>
                </li>
            </ul>

            <!-- Blog Post Catagories Menu Section For Future-->
            <!-- <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                Catagories
            </h6>

            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">
                        <svg class="bi feather" width="24" height="24" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                            <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#vector-pen"/>
                        </svg>
                        Catogory Ex.
                    </a>
                </li>
            </ul> -->
        </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 p-0">

        <!-- BLOG BANNER -->
        <a href="{% url 'blog:all_posts' %}">
            <div class="blog-banner">
                <h4 class="fs-4 text-light"><b>BL<span class="color-y">O</span>G</b></h4>
            </div>
        </a>

        <!-- HOME TOP SECTION -->
        <div id="home-section" class="section position-relative">
            <div class="banner mb-4">
                <div class="overlay position-relative">
                    <div class="profile-pic rounded-circle position-absolute top-100 translate-middle-y ms-md-5 ms-sm-4 ms-3"></div>
                </div>
            </div>

            <div class="text-part row justify-content-center p-0 mx-0 mb-3">
                <div class="col-md-9 text-center px-4 px-lg-5">
                    <h1 class="font-weight-bold color-y display-1">Greetings</h1>
                    <h2 class="font-weight-bold display-5">I'm <span class="color-g">P</span>avel Ku<span class="color-o">d</span>la<i class="color-g">n</i>ov</h2>
                    <h2 class="display-5">Full-Stack Software Developer</h2>
                    <h4 class="font-weight-bold mt-5 quote"><em>A firm believer in that software does not write itself. Each line of code ultimately has a piece of someone's mind behind it. </em>😄</h4>
                </div>
            </div>

            <h1 class="bounce text-center position-absolute bottom-0 start-0 pb-3 ps-3">
                <svg class="bi color-y" width="28" height="28" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#chevron-double-down"/>
                </svg>
            </h1>
            <h1 class="bounce text-center position-absolute bottom-0 end-0 pb-3 pe-3">
                <svg class="bi color-y" width="28" height="28" fill="none" stroke="currentColor" stroke-width=".2" stroke-linecap="round" stroke-linejoin="round">
                    <use xlink:href="{% static 'portfolio/assets/bootstrap-icons.svg' %}#chevron-double-down"/>
                </svg>
            </h1>

        </div>


        <!-- PROJECTS SECTION -->
        <div id="portfolio-section" class="section">
            <section class="text-center container p-3 pt-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="display-2 color-y">Web Developer Portfolio</h1>
                    <p class="lead">Just a small collection of various projects I've done.</p>
                </div>
            </section>

            <section class="container text-center p-3">
                <h3>Technologies</h3>
                <div class="d-flex flex-wrap justify-content-center">

                    {% for tag in proj_tags %}
                        <div class="tech-card text-light text-center border border-secondary rounded m-1">
                            <h6 class="m-1 px-1">{{ tag }}</h6>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <div class="album py-5">
                <div class="container g-5">

                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-3">

                        {% for project in projects %}

                            {% if project.url %}

                            <a href="{{ project.url }}">
                            <div class="col">
                                <div class="card text-white shadow-sm ratio project-card">
                                    <img src="{{ project.image.url }}" class="card-img project-img" alt="Image of one of Pavels Projects.">
                                    <div class="card-img-overlay project-overlay p-0">
                                        <div class="project-header rounded-top ratio p-0">
                                            <div class="color-dot color-dot-r position-absolute top-50 start-0 translate-middle"></div>
                                            <div class="color-dot color-dot-y position-absolute top-50 start-0 translate-middle"></div>
                                            <div class="color-dot color-dot-g position-absolute top-50 start-0 translate-middle"></div>
                                            <h5 class="text-center text-light m-1">{{ project.title }}</h5>
                                        </div>
                                        <div class="project-body position-relative px-4">
                                            <section class="container text-center position-absolute top-50 start-50 translate-middle p-3">
                                                <div class="d-flex flex-wrap justify-content-center">
                                                    {% for tag in project.tags.all %}
                                                        <div class="tech-card text-light text-center border border-secondary rounded m-1">
                                                            <h6 class="m-1 px-1">{{ tag }}</h6>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            </a>

                            {% else %}

                            <div class="col">
                                <div class="card text-white shadow-sm ratio project-card">
                                    <img src="{{ project.image.url }}" class="card-img project-img" alt="Image of one of Pavels Projects.">
                                    <div class="card-img-overlay project-overlay p-0">
                                        <div class="project-header rounded-top ratio p-0">
                                            <div class="color-dot color-dot-r position-absolute top-50 start-0 translate-middle"></div>
                                            <div class="color-dot color-dot-y position-absolute top-50 start-0 translate-middle"></div>
                                            <div class="color-dot color-dot-g position-absolute top-50 start-0 translate-middle"></div>
                                            <h5 class="text-center text-light m-1">{{ project.title }}</h5>
                                        </div>
                                        <div class="project-body position-relative px-4">
                                            <section class="container text-center position-absolute top-50 start-50 translate-middle p-3">
                                                <div class="d-flex flex-wrap justify-content-center">
                                                    {% for tag in project.tags.all %}
                                                        <div class="tech-card text-light text-center border border-secondary rounded m-1">
                                                            <h6 class="m-1 px-1">{{ tag }}</h6>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endif %}

                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>


        <!-- ABOUT SECTION -->
        <div id="about-section" class="section">
            <div class="row row-cols-1 row-cols-sm-2 g-3 mx-4 about-row">
                <div class="col">
                    <h1 class="display-2 color-y">Who is this guy?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ratione quidem repellat excepturi explicabo? Enim, iure. Enim, placeat qui eligendi illo, alias quae accusantium vel excepturi quasi exercitationem corrupti neque?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ratione quidem repellat excepturi explicabo? Enim, iure. Enim, placeat qui eligendi illo, alias quae accusantium vel excepturi quasi exercitationem corrupti neque?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ratione quidem repellat excepturi explicabo? Enim, iure. Enim, placeat qui eligendi illo, alias quae accusantium vel excepturi quasi exercitationem corrupti neque?</p>
                </div>
                <div class="col">
                    <img src="{% static 'portfolio/assets/my-portrait.jpg' %}" class="img-fluid mt-3">
                </div>
            </div>
        </div>


        <!-- CONTACT SECTION -->
        <div id="contact-section" class="section mt-4">
            <div class="container form-container p-5 text-center">
                <h1 class="color-y display-1">Give Me a Holler!</h1>
                <p class="lead">Get in touch or just say hi</p>
                <p class="lead">Shoot a question and I'll reply</p>
                <p class="lead">Send me an email at <span class="color-o">me@kudlanov.com</span> if you like</p>
                <p class="lead">Or call <span class="color-o">717.304.4896</span>, trust me. I wont bite</p>
            </div>
            <div class="form-container container p-lg-5 p-md-4 p-3">
                <form method="post" id="post-form" novalidate>
                    {% csrf_token %}
                    {% load widget_tweaks %}

                    <div id="success-msg-container"></div>

                    {{ form.non_field_errors }}
                    <div class="row g-3">
                        <h4 class="text-danger">Not connected to email server so submitting wont do anything yet</h4>
                        <div class="col-md-6">
                            {% render_field form.name class="form-control input-bg form-control-lg text-light border-0" placeholder="Name" aria-label="Name" %}
                        </div>
                        <div class="col-md-6">
                            {% render_field form.from_email class="form-control input-bg form-control-lg text-light border-0" placeholder="E-Mail" aria-label="E-Mail" %}
                        </div>
                        <div class="col-12">
                            {% render_field form.subject class="form-control input-bg form-control-lg text-light border-0" placeholder="Subject" aria-label="Subject" %}
                        </div>
                        <div class="col-12">
                            {% render_field form.message class="form-control input-bg form-control-lg text-light border-0" placeholder="Your voice will be heard!" aria-label="Message" %}
                        </div>
                    </div>
                    <div class="row my-3 justify-content-end">
                        <div class="form-actions col-md-6 align-self-end">
                            <button class="btn btn-lg rounded col-12 color-y" type="submit">Send Your Voice</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </main>
</div>

<script>
    // Ajax submission of email form with errors as ajax as well
    $(document).on('submit', '#post-form', function(e){

        // Preventing page refresh on form submit action
        e.preventDefault();

        $.ajax({
            type: 'POST',
            url: '{% url "send_email" %}',
            data: {
                name: $('#id_name').val(),
                from_email: $('#id_from_email').val(),
                subject: $('#id_subject').val(),
                message: $('#id_message').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success: function(json){
                // Hard coded array of email fields
                // Simpler then retrieving from backend cuz they're not changing
                fields_arr = ['name', 'from_email', 'subject', 'message'];

                // If email form data is valid, has no errors
                if(json.data_valid){

                    // Remove error labels and error styling
                    fields_arr.forEach(key => {
                        $('[for=' + 'id_' + key + ']').remove();
                        element = document.getElementById('id_' + key);
                        if(!element.classList.contains('border-0')) element.classList.add('border-0');
                        if(element.classList.contains('is-invalid')) element.classList.remove('is-invalid');
                    });

                    // If user sends a second message it will remove the previous success message
                    $('#success-msg').remove();
                    document.getElementById("post-form").reset();
                    $('#success-msg-container').append('<h3 id="success-msg" class="color-g">' + json.success_message + '</h3>')

                // Else if email form data has errors
                } else {
                    form_errors = JSON.parse(json.form_errors);

                    fields_arr.forEach(key => {

                        // If field has errors, add errors labels, and error styling
                        if(Object.keys(form_errors).includes(key)){

                            // Remove previous errors so they don't stack on top of each other
                            $('[for=' + 'id_' + key + ']').remove();

                            // Reset input field to be empty if it has errors
                            element = document.getElementById('id_' + key);
                            element.value = '';

                            // Error styling reverted from no error styling, to error styling
                            if(element.classList.contains('border-0')) element.classList.remove('border-0');
                            if(!element.classList.contains('is-invalid')) element.classList.add('is-invalid');

                            // Add error labels
                            form_errors[key].forEach(error => {
                                $('#id_' + key).after(
                                    '<label for="' + 'id_' + key + '" class="text-danger">' + error +
                                    '</label>'
                                );
                            });

                        // Else if previous error is no more, remove error and revert styling
                        } else {
                            element = document.getElementById('id_' + key);
                            if(!element.classList.contains('border-0')) element.classList.add('border-0');
                            if(element.classList.contains('is-invalid')) element.classList.remove('is-invalid');
                            $('[for=' + 'id_' + key + ']').remove();
                        }
                    });
                }
            },
            error: function(xhr, errmsg, err){
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
</script>

{% endblock content %}
