{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}

<div class="navbar navbar-dark sticky-top flex-md-nowrap p-0">
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


<div class="row m-0">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse pe-2">
        <div class="position-sticky pt-3 ps-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="...">Some Place</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="...">Some Other Place</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="...">Where Am I?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="...">What Do You Need?!!!!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="...">HELP STUPID PROGRAM</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="...">I WILL END YOU STUPID PAGE!!!</a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 p-0 testt">
        <div id="home-section" class="section position-relative">
            <div class="banner mb-4">
                <div class="overlay position-relative">
                </div>
            </div>

            <div class="text-part justify-content-center">
                <h1>Hello Top</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora atque totam? Voluptatibus similique sed magni amet perferendis dicta maiores assumenda reiciendis nam iste facilis totam atque, soluta molestias omnis?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora atque totam? Voluptatibus similique sed magni amet perferendis dicta maiores assumenda reiciendis nam iste facilis totam atque, soluta molestias omnis?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora atque totam? Voluptatibus similique sed magni amet perferendis dicta maiores assumenda reiciendis nam iste facilis totam atque, soluta molestias omnis?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste tempora atque totam? Voluptatibus similique sed magni amet perferendis dicta maiores assumenda reiciendis nam iste facilis totam atque, soluta molestias omnis?</p>
            </div>
        </div>
    </main>
</div>

{% endblock content %}
