[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asgiref = "*"
pytz = "*"
sqlparse = "*"
Django = "*"
Pillow = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-widget-tweaks = "*"
django-environ = "*"

[requires]
python_version = "3.8"
