#blog .post-header {
    color: #eca762;
    font-weight: 100;
}

#blog .top-border {
    border-bottom: 1px solid rgb(51, 51, 51);
}

#blog .post-line {
    border-bottom: 1px solid rgb(51, 51, 51);
}

#blog .post {
    min-height: 10em;
    border-bottom: 1px solid rgb(51, 51, 51);
}

#blog .post-body-container {
    padding: 4em 5em;
}

#blog .first-post * {
    min-height: 1px;
    display: none;
}

#blog .post-day {
    background-color: rgb(30, 30, 30);
}

#blog .date-container {
    width: 3em;
}

#blog .post-body h1, h2, h3, h4, h5, h6 {
    margin-top: 1.4em;
}
