body {
    margin: 0;
    padding: 0;
    background-color: rgb(37, 37, 37);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    color: white
}

p {
    font-family: 'Roboto', sans-serif;
    color: white;
}

nav {
    z-index: 100;
}

nav a:hover * {
    color: #e78e36;
    font-weight: 200;
}

.funny-link .sunglasses {
    display: none;
}
.funny-link:hover .smile,
.funny-link:active .smile {
    display: none;
}
.funny-link:hover .sunglasses,
.funny-link:active .sunglasses {
    display: inline-block;
}

.navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, .5) !important;
}

.blog-banner {
    display: block;
    position: fixed;
    top: 30px;
    left: -140px;
    width: 400px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    transform: rotate(-45deg);
    color: white;
    background-color: #88aa33;
    z-index: 10;
    padding-top: 2px;
    transition: .3s;
}

@media (min-width: 768px) {
    .blog-banner {
        top: 50px;
        left: auto;
        right: -120px;
        width: 400px;
        height: 44px;
        line-height: 44px;
        transform: rotate(45deg);
    }
}

.blog-banner:hover {
    transition: opacity;
    background-color: #9bbb4b;
    transition: .3s;
}

.blog-banner h4 {
    display: inline;
}

input {
    font-family: 'Josefin Sans', sans-serif;
}

textarea {
    font-family: 'Josefin Sans', sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Josefin Sans', sans-serif;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Josefin Sans', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'Josefin Sans', sans-serif;
}

.color-o {
    color: #e78e36;
}

.color-g {
    color: #88aa33;
}

.color-y {
    color: #e6cc48;
}
