.section {
    min-height: 100vh;
}

#home-section {
    height: 100vh;
    min-height: 550px;
}

#home-section .banner {
    height: 30vh;
    width: 100%;
    background-image: url('/static/portfolio/assets/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#home-section .overlay {
    background-color: rgba(0, 0, 0, 0.637);
    background-size: cover;
    width: 100%;
    height: 100%;
}

#home-section .profile-pic {
    background-image: url('/static/portfolio/assets/my-portrait.jpg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (min-width: 576px) {
    #home-section .profile-pic {
        width: 116px;
        height: 116px;
    }
    #home-section .text-part {
        margin-top: 75px;
        height: 62vh;
    }
    #home-section .banner {
        height: 38vh;
    }
}

@media (min-width: 768px) {
    #home-section .profile-pic {
        width: 134px;
        height: 134px;
    }
    #home-section .text-part {
        margin-top: 85px;
        height: 55vh;
    }
    #home-section .banner {
        height: 45vh;
    }
}

@media (min-width: 992px) {
    #home-section .profile-pic {
        width: 150px;
        height: 150px;
    }
    #home-section .text-part {
        margin-top: 100px;
    }
}

#home-section .quote {
    color: rgba(255, 255, 255, 0.5);
}

#home-section .text-part {
    height: 70vh;
    margin-top: 65px;
}

/* #home-section .arrow-down {
    color: #e6cc48;
} */

#home-section .bounce {
    animation: bounce .8s infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
}

    @keyframes bounce {
        from { transform: translateY(0); }
        to { transform: translateY(15px); }
}

#portfolio-section .project-card {
    --bs-aspect-ratio: 63%;
}

#portfolio-section .project-overlay:hover {
    background-color: rgba(0, 0, 0, 0.76);
}

#portfolio-section .project-header {
    background-color: #202124;
    height: 1.8em;
}

#portfolio-section .project-body {
    height: 100%;
    width: 100%;
    margin-top: -1.8em;
    display: none;
}

#portfolio-section .project-overlay:hover > .project-body {
    display: block;
}

#portfolio-section .color-dot {
    width: .8em;
    height: .8em;
    border-radius: 50%;
}

#portfolio-section .color-dot-r {
    margin-left: 1em;
    background-color: #fc605c;
}

#portfolio-section .color-dot-y {
    margin-left: 2.3em;
    background-color: #fcbb40;
}

#portfolio-section .color-dot-g {
    margin-left: 3.6em;
    background-color: #34c648;
}

#portfolio-section .color-menu {
    background-color: #eeeeee;
}

#portfolio-section .tech-card {
    background-color: #202124;
}

#contact-section .padder {
    padding-top: 6vh;
}
