.section {
    min-height: 100vh;
}

#home-section {
    min-height: 100vh;
}

#home-section .banner {
    background-image: url('/static/portfolio/assets/banner.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: none;
}

#home-section .profile-pic {
    background-image: url('/static/portfolio/assets/my-portrait.jpg');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: none;
}

#home-section .text-part {
    padding-top: 5vh;
}

@media (min-height: 576px) {
    #home-section .text-part {
        padding-top: 5vh;
    }
    #home-section .banner {
        height: 38vh;
    }
    #home-section .profile-pic {
        display: block;
    }
    #home-section .banner {
        display: block;
    }
}

@media (min-height: 768px) {
    #home-section .text-part {
        padding-top: 5vh;
    }
    #home-section .banner {
        height: 45vh;
    }
    #home-section .profile-pic {
        display: block;
    }
}

@media (min-height: 992px) {
    #home-section .text-part {
        padding-top: 5vh;
    }
    #home-section .profile-pic {
        display: block;
    }
}

#home-section .overlay {
    background-color: rgba(0, 0, 0, 0.637);
    background-size: cover;
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    #home-section .profile-pic {
        width: 116px;
        height: 116px;
    }
}

@media (min-width: 768px) {
    #home-section .profile-pic {
        width: 134px;
        height: 134px;
    }
}

@media (min-width: 992px) {
    #home-section .profile-pic {
        width: 150px;
        height: 150px;
    }
}

#home-section .quote {
    color: rgba(255, 255, 255, 0.5);
}

#home-section .bounce {
    animation: bounce .8s infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
}

    @keyframes bounce {
        from { transform: translateY(0); }
        to { transform: translateY(15px); }
}

#portfolio-section .project-card {
    --bs-aspect-ratio: 63%;
}

#portfolio-section .project-overlay:hover {
    background-color: rgba(0, 0, 0, 0.76);
}

#portfolio-section .project-header {
    background-color: #202124;
    height: 1.8em;
}

#portfolio-section .project-body {
    height: 100%;
    width: 100%;
    margin-top: -1.8em;
    display: none;
}

#portfolio-section .project-overlay:hover > .project-body {
    display: block;
}

#portfolio-section .color-dot {
    width: .8em;
    height: .8em;
    border-radius: 50%;
}

#portfolio-section .color-dot-r {
    margin-left: 1em;
    background-color: #fc605c;
}

#portfolio-section .color-dot-y {
    margin-left: 2.3em;
    background-color: #fcbb40;
}

#portfolio-section .color-dot-g {
    margin-left: 3.6em;
    background-color: #34c648;
}

#portfolio-section .color-menu {
    background-color: #eeeeee;
}

#portfolio-section .tech-card {
    background-color: #202124;
}

#about-section .about-p {
    max-width: 550px;
}

@media screen and (max-width: 576px) {
    #about-section .sdlc-chart {
        background-image: url('/static/portfolio/assets/sdlc-md.svg');
        background-size: 290px auto;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 800px;
    }
}

@media screen and (min-width: 576px) {
    #about-section .sdlc-chart {
        background-image: url('/static/portfolio/assets/sdlc-lg.svg');
        background-size: 450px auto;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 780px;
    }
}

@media screen and (min-width: 768px) {
    #about-section .sdlc-chart {
        background-image: url('/static/portfolio/assets/sdlc-sm.svg');
        background-size: 70vw auto;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 70vw;
    }
}

@media screen and (min-width: 992px) {
    #about-section .sdlc-chart {
        background-image: url('/static/portfolio/assets/sdlc-md.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 80vh;
    }
}

@media screen and (min-width: 1200px) {
    #about-section .sdlc-chart {
        background-image: url('/static/portfolio/assets/sdlc-lg.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 80vh;
    }
}

#contact-section .padder {
    padding-top: 6vh;
}

#contact-section .input-bg {
    background-color: #3a3a3a;
}

#contact-section button {
    border: 1px solid #e6cc48;
}

#contact-section button:hover {
    background-color: #f9d522;
    color: #202124;
    transition: .6s;
}

#contact-section .is-invalid {
    border-top: none;
    border-left: none;
    border-right: none;
}
