{% extends 'portfolio/blog_base.html' %}
{% load static %}

{% block content %}
    <div class="container pt-4">
        <h1 id="blogtitle" class="mt-n5">A Blog to Rule All Blogs</h1>
        <h3 class="mb-4">A humble collection of thoughts and ponderings on what makes the internet tick</h3>
    </div>


    <div class="post-container">
        <div class="post-line row"></div>
        {% for post in posts %}
            <div class="post row">

                <div class="post-body-container col-10">
                    <a href="{% url 'blog:detail' post.id %}" class="link-secondary text-decoration-none">
                        <h2 class="fs-1">{{ post.title|upper }}</h2>
                    </a>
                    <p class="post-body lh-lg">{{ post.body|striptags|truncatechars:300 }}</p>
                </div>

                <div class="position-relative post-day col-2 text-center">
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <h3 class="my-0 lh-1 fs-5">{{ post.date|date:'M'|upper }}</h3>
                        <h2 class="my-0 lh-1 fs-1">{{ post.date|date:'d' }}</h2>
                        <h3 class="my-0 lh-1 fs-5">{{ post.date|date:'Y' }}</h3>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

{% endblock content %}