{% extends 'portfolio/base.html' %}

{% load static %}

{% block content %}
    <h1 id="blogtitle" class="font-weight-bold text-center">A Blog to Rule All Blogs</h1>
    <h3 class="text-center mb-5">A humble collection of thoughts and ponderings on what makes the internet tick.</h3>


    {% for post in posts %}
        <div class="row justify-content-center my-3">
            <div class="col-md-10">
            </div>
        </div>
        <a href="{% url 'blog:detail' post.id %}" class="link-secondary text-decoration-none">
            <h2 class="fw-ligher">{{ post.title }}</h2>
        </a>
        <h5 class="text-muted">{{ post.date|date:'F j, Y'}}</h5>
        <h4>{{ post.body|striptags|truncatechars:100 }}</h4>
    {% endfor %}
{% endblock content %}
